$mainBlack: #000;
$mainWhite: #fff;
$blackBorder: 1px solid #49423b;
$whiteBorder: 1px solid white;
$textColor: #1d1a19;
$hoverGreen: #c7d93b;
$hoverBG: rgba(29, 26, 25, 0.5);
$descriptionBG: #f4efde;
$footerBG: #dba539;
$lastBG: #805f1e;

// fonts
$playfair: 'Playfair Display SC', serif;
$sacramento: 'Sacramento', cursive;
$alice: 'Alice', serif;

// margin padding

// at mobile
$largeTitle_p_sm: 0 36px 27.8px 36px;
$largeTitleSize_sm: 36px;
$largeTextSize_sm: 54px;

$largeTitle_p_md: 0 81px 11px 81px;
$largeTitleSize_md: 72px;

$largeTitleSize_lg: 81px;
$largeTextSize_lg: 72px;

$largeTitle_p_lg: 0 81px 20px 81px;

$title_p_sm: 0 0 30px 0;
$title_m_sm: 0 0 15px 0;
$textSize_sm: 21px;
$italicSize_sm: 36px;

$titleSize_md: 72px;
$title_p_md: 0 72px 8px 72px;

$descTitle_p_sm: 30px 0 0 0;